
// body{
//   background-color: rgb(109, 163, 109);
//   // padding: 30px;
//   // width: 100vw;
//   // position: relative;
  
// }

body{
  position: relative;
  background-color: rgb(109, 163, 109);
}
.ab{
  display: inline;
  position: absolute;
  top: 200px;
  left: 190px;
  position: fixed;
  }
  ol .z{
    display: inline;
    position: absolute;
    top: 360px;
    left: 187px;
    position: fixed;
  }
  .x{
    display: inline;
    position: absolute;
    top: 330px;
    left: 187px;
    position: fixed;
    
  }
  .c{
    display: inline;
    position: absolute;
    top: 300px;
    left: 187px;
    position: fixed;

  }

// #left_card{
//   width: 400px;
//   height: 100px;
//   float: right;
//   position: absolute;
//   right: 63%;
//   // border: 1px solid;
// }

.post{
  width: 880px;
  background-color: black;
  text-align: center;
  border-radius: 3px;
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.moji{
  font-weight: bold;
  font-size: 20px;
  background-color:orange;
  color:black;
  border-radius: 6px;
  padding: 8px;
  width: 5%;
  display: block;
  position: fixed;
}
.moji:hover{
  font-weight: bold;
  font-size: 20px;
  background-color:palevioletred;
  color:rgb(238, 13, 13);
  border-radius: 6px;
  padding: 8px;
  width: 30%;
  display: block;
  position: fixed;
  transition:0.5s ;
}

.contents{
  background-color: rgb(0, 0, 0);

  .content{
    overflow: scroll;
    border-radius: 3px;
    background-color: rgb(83, 119, 119);
    margin: 0 88px ;
    border: 1px solid rgb(83, 119, 119);
    margin-top: 5px;

    .messa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    font-weight: bold;

    }
    .daytime{
      font-size: 4px;
    }
  }
  .edit{
    color: burlywood;
    background-color: rgb(83, 119, 119);
    padding: 3px;
    margin-left: 65%;
    border: 1px solid rgb(83, 119, 119);
    
  }
  #dele{
    color: red;
    background-color: rgb(83, 119, 119);
    padding: 3px;
    border: 1px solid rgb(83, 119, 119);
    
  }
}