// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 15px;
  font-size: 23px;
  font-weight: bold;
  background-color: rgb(224, 224, 224);
  line-height: 2;
  
}
