<div class="field">
  <div class="field_1">
    <div class="field_2">
      <h1 class="ab">image_posts_APP</h1>
      <ul >
        <h3 class="z">画像複数枚OK、削除・編集機能あり。</h3>
        <li class="x">削除前に確認アラートでます。</li>
        <li class="c">画像選択時にプレビュー出るので確認できます。</li>
      </ul>
    </div>
  </div>



  <div class="post">
    <%= link_to '"Click-Here!"',new_product_path,class:"moji" %><br>
    <div class="contents">
      <%= render @products %>
    </div>
  </div>
</div>
